$white: #fff;
$black: #000;

$bg-gradient: linear-gradient(159deg, rgba(50,108,255,1) 0%, rgba(38,255,242,1) 100%);
$bg-gradient-safe:rgb(50,108,255);

$desktop: 1200px;
$laptop: 991px;
$tablet: 768px;
$mobile: 480px;
$mobile-landscape: 850px;
$mobile-sm: 360px;
$mobile-sm-landscape: 650px;
