header 
  .header
    a(href="#")
      img(src="img/logo.svg", alt="logo") 
    nav.header__nav   
      ul.nav__list 
        li.nav__item 
          a(href="#").nav__link.active Home 
        li.nav__item  
          a(href="#").nav__link TV Show 
        li.nav__item 
          a(href="#").nav__link Movies         
        li.nav__item 
          a(href="#").nav__link Series
    ul.control__list
        li.control__item 
          button.control__btn.control__btn-search
        li.control__item 
          button.control__btn.control__btn-notice
        li.control__item 
          button.control__btn.control__btn-account
    .burger 
      .burger__content
        .burger__line 
    
    